main {
    display: flex;
    flex-flow: wrap;
}
aside {
    padding-left: 1vw;
    width: 19vw;;
}
#map {
    height: 80vh;
}
.ressource-map {
    width: 80vw;
}

.categories-names {
    list-style: none;
    padding-left: 0;
}
.archipossible {
    background-image: url('../images/logo-archi-possible-autoconstruction.svg');
    background-color: antiquewhite;
    background-size: contain;
    width: 140px;
    height: 50px;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 0;
}
.footer {
    background-color: #442F50;
    color: white;
    height: 5vh;
    line-height: 5vh;
    margin: 0;
    text-align: center;
}

.footer-text{
    margin: 0;
}

.header {
    background-color: #442F50;
    color: white;
    display: flex;
    flex-flow: wrap;
    width: 100%;
}

.header-title {
    text-align: center;
    width: 80vw;
}
.logo {
    background-image: url('../images/logo-archi-possible-autoconstruction.svg');
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 0;
    margin: 0.5vw;
    height: auto;
    width: 15vw;
}